.box {
    border: 3px solid rgb(85, 85, 85);
    height: 400px;
    width: 600px;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: content-box;
}